<div class="student-form">
	<p>
		<stong>Name:</stong>
		<%= @student.name%>
	</p>
	<p>
		<strong>Age</strong>
		<%= @student.age %>
	</p>
	<p>
		<strong>subject</strong>
		<%= @student.subject %>
	</p>
</div>