
.signup{
	 position: static;
	
	 background-color: white;
	
	width: 420px;
	height: 700px;

    border-radius: 2%;
    text-align: center;
   

    margin-bottom: 50px;
    margin-left: 400px;
    padding-top: 45px;
}
.email{
	border-radius: 5px;
	padding: 6px;
}
.button{
	border-radius: 10px;
	margin-top: 20px;
    color: white;
    background-color : #d66238;
    padding: 5px;
    width: 120px;
}
.remember{
	margin-top: 5px;
}
