// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .index{
 	height: 350px;
 	background-color: red;
 	background-image: url("/assets/login.jpg");
 	margin-top: 94px;
 	text-align: center;
 	margin-top: 2opx;
 }
 h1{
 	padding-top: 20px;
 }